<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <div class="navbar">
            <div class="title">Welcome to Katarina's cello classroom!</div>
            <div class="links">
            <a href="/about">About me</a>
            <a href="/cello_classroom">For students</a>
            <a href="/agenda">Agenda</a>
            </div>
        </div>

    </body>
</html>